.topDest__div {
  margin: 0 auto;
  margin-top: 10%;
  overflow-x: hidden;
}

.topDest__header {
  margin: 0 auto;
}
.topDest__title {
  font-family: "Georama", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.02em;
}
.slider {
}
.topDest__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  max-width: 70%;
  margin-top: 3em;
}
.dest__imgDiv {
  margin-left: 10px;
}
.destImg__span {
}

.dest__img {
  border-radius: 50% 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.dest__img:hover {
  box-shadow: 0 0 20px #87b3fb;
  transform: scale(1.03);
  transition: 0.5s all ease-in-out;
}
.dest__nameDiv {
  margin-top: 1em;
}
.dest__name {
  font-family: "Georama", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}

@media (min-width: 200px) and (max-width: 400px) {
  .dest__img {
    height: 110px;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .dest__img {
    height: 110px;
  }
}
