.checkout__main {
  margin: 0 auto;
  max-width: 500px;
}
.checkout__heading {
  font-family: "Georama", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
}
.checkout__review {
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
}
.checkout__name,
.checkout__email,
.checkout__phNumber,
.checkout__passportNumber,
.checkout__address,
.checkout__city,
.checkout__state,
.checkout__zipCode,
.checkout__country,
.checkout__hotelName,
.checkout__checkInDate,
.checkout__checkOutDate,
.checkout__rooms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 6px;
}
.checkout__name > span {
  text-align: right !important;
}
.checkout__subHeading {
  text-align: left !important;
}
.checkout__Bookbtn {
  border: none;
  padding: 0.6em;
  border: 1px solid #87b3fb;
  border-radius: 0.6em;
  font-weight: 500;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 96%;
  background-color: #87b3fb;
  margin-top: 20px;
}
.checkout__Bookbtn:hover {
  padding: 0.6em;
  border-radius: 0.7em;
  box-shadow: 0 0 20px #87b3fbab;
  transition: 0.3s all ease-in-out;
}
.checkout__Backbtn {
  margin-top: 10px;
  border: none;
  padding: 0.6em;
  border: 1px solid #cbcbcb6d;
  border-radius: 0.6em;
  font-weight: 500;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.05em;
  color: #000000bc;
  width: 96%;
  background-color: #cbcbcb3e;
}
.checkout__Backbtn:hover {
  transition: 0.3s all ease-in-out;
  background-color: #cbcbcb90;
  padding: 0.6em;
  border-radius: 0.7em;
}
