.searchPage__div {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
}
.search__main {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  margin-top: 10%;
}
.card__searchbar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  flex-wrap: wrap;
}
.searchPage__form {
  background-color: #20274d;
  margin: 0 auto;
  padding: 30px;
  width: 100vw;
}
.form__city {
  width: 200px;
  padding: 10px;
  height: 50px;
  outline: none;
  cursor: pointer;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.03em;
  border-radius: 0.4em;
  margin: 3px 3px;
}
.form__checkinDate,
.form__checkoutDate {
  width: 200px;
  padding: 10px;
  height: 50px;
  outline: none;
  cursor: pointer;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  border-radius: 0.4em;
}
.form__checkinDate:focus,
.form__checkoutDate:focus {
  border: none !important;
  outline: none;
}
.date__label {
  background-color: #ffffff;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 0.4em;
  margin: 3px 3px;
}
.heroform__rooms {
  width: 200px;
  padding: 10px;
  height: 50px;
  outline: none;
  cursor: pointer;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.03em;
  border-radius: 0.4em;
  margin: 3px 3px;
}
.heroform__btn {
  margin: 0 auto;
  border: none;
  padding: 0.6em;
  background-color: #87b3fb;
  font-weight: 500;
  border-radius: 0.4em;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 150px;
  height: 50px;
}
.heroform__btn:hover {
  box-shadow: 0 0 10px #87b3fbab;
  background-color: #7aacfd;
  transition: 0.3s all ease-in-out;
}
.search__card {
  margin: 0 auto;
  display: flex;
  border: 1px solid #0000003e;
  margin-bottom: 3em;
  border-radius: 0.6em;
  flex-wrap: wrap;
}
.search__filterArea {
}
.imgDiv {
  height: 100%;
}
.card__img {
  margin: 0 auto;
  width: 20em;
  height: 20em;
  border-radius: 0.6em 0 0 0.6em;
}
.card__data {
  flex: 0.9;
  padding: 2em;
}
.card__name {
  font-family: "Georama", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
}
.card__header {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: center;
}
.card__city {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
}
.card__address {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
}
.card__description {
  font-family: "Georama", sans-serif;
  font-size: 0.8em;
}
.card__rating {
  font-size: 0.9em;
}
.card__bookingDiv {
  margin: 0 auto;
  padding: 2em;
}
.card__price {
  font-family: "Georama", sans-serif;
  font-weight: 700;
}
.card__btn {
  border: none;
  padding: 0.6em;
  border: 1px solid #87b3fb;
  border-radius: 0.7em;
  color: #ffffff;
  background-color: #87b3fb;
  font-weight: 500;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.05em;
  margin-top: 3em;
}
.card__btn:hover {
  padding: 0.6em;
  border-radius: 0.7em;
  box-shadow: 0 0 20px #87b3fbab;
  transition: 0.3s all ease-in-out;
}

@media (min-width: 200px) and (max-width: 600px) {
  .heroForm__heading {
    font-size: 2em;
  }
  .heroform__tag {
    font-size: 1em;
  }
}
@media (min-width: 606px) and (max-width: 919px) {
  .form__city {
    width: 162.5px;
  }
  .heroForm__heading {
    font-size: 2em;
  }
  .heroform__tag {
    font-size: 1em;
  }
}
@media (min-width: 593px) and (max-width: 605px) {
  .heroForm__heading {
    font-size: 2em;
  }
  .heroform__tag {
    font-size: 1em;
  }
  .form__checkoutDate {
    width: 187px;
  }
  .card__img {
    width: 100vw;
    height: 18em;
  }
}
@media (min-width: 313px) and (max-width: 592px) {
  .form__city {
    width: 295px;
  }
  .form__checkoutDate {
    width: 200px;
  }
  .form__checkinDate {
    width: 212px;
  }
  .heroform__rooms {
    width: 295px;
  }
  .heroform__btn {
    width: 295px;
  }
  .card__name {
    font-size: 1.5em;
  }
  .card__img {
    width: 100vw;
    height: 18em;
  }
  .card__city {
    font-size: 0.6em;
  }
  .card__address {
    font-size: 0.7em;
  }
  .card__description {
    font-size: 0.5em;
  }
  .card__rating {
    font-size: 0.5em;
  }
  .card__price {
    font-size: 0.8em;
    text-align: center;
  }
  .card__btn {
    margin-top: 0.4em;
  }
  .card__bookingDiv {
    padding: 3em 0 0.5em 0;
  }
}
@media (min-width: 242px) and (max-width: 312px) {
  .form__checkoutDate {
    width: 160px;
  }
  .form__checkinDate {
    width: 170px;
  }
  .date__label {
    font-size: 1em;
  }
  .form__city {
    width: 295px;
  }
  .heroform__rooms {
    width: 295px;
  }
  .heroform__btn {
    width: 295px;
  }
  .card__name {
    font-size: 1.5em;
  }

  .card__city {
    font-size: 0.6em;
  }
  .card__address {
    font-size: 0.7em;
  }
  .card__description {
    font-size: 0.5em;
  }
  .card__rating {
    font-size: 0.5em;
  }
  .card__price {
    font-size: 0.8em;
    text-align: center;
  }
  .card__btn {
    margin-top: 0.4em;
  }
  .card__bookingDiv {
    padding: 0 0 0.5em 0;
  }
}
@media (min-width: 200px) and (max-width: 241px) {
  .form__city {
    width: 295px;
  }
  .form__checkoutDate {
    width: 140px;
  }
  .form__checkinDate {
    width: 150px;
  }
  .heroform__rooms {
    width: 295px;
  }
  .date__label {
    font-size: 0.75em;
  }
}
