.footer__main {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  background-color: #efefef;
  padding: 60px 60px 60px 60px;
  flex-wrap: wrap;
  height: 100%;
}
.footer__help,
.footer__bookingType,
.footer__services,
.footer__places,
.footer__contact {
  margin: 20px 5px;
}
.footer__Link {
  font-weight: 300;
  font-family: "Georama", sans-serif;
  color: #333333;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer__Name {
}
.copyright {
  background-color: #333333;
  width: 100vw;
  margin: 0 auto;
  padding: 30px 0;
}
.copyright__para {
  color: #ffffff;
  text-align: center;
  font-family: "Georama", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1em;
}
