.booking__form {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.booking__formHeader {
  margin: 0 auto;
  text-align: center;
  background-color: #20274d;
  color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.07em;
  font-size: 1.3em;
  padding: 5px;
}
.booking__heading {
  text-align: center;
  font-size: 1.4em;
  font-family: "Georama", sans-serif;
  font-weight: 700;
  margin: 0 auto;
}
.stepper__Container {
  height: 100vh;
}
@media (min-width: 200px) and (max-width: 400px) {
  .booking__formHeader {
    font-size: 1em;
  }
}
